[Unit]
Description=Announce lb_1
BindsTo=lb.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/lb/lb_1 '{ \"host\": \"%H\", \"port\": 80, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/lb/lb_1

[X-Fleet]
X-ConditionMachineOf=lb.1.service
