[Unit]
Description=Run lb_1
After=serf.1.service
Requires=serf.1.service

[Service]
Restart=always
RestartSec=10s
ExecStartPre=/usr/bin/docker ps -a -q | xargs docker rm
ExecStart=/usr/bin/docker run -rm -name lb_1  --link serf_1:serf_1 -e "HAPROXY_PASSWORD=38uf8hhf38h" -p 80:80 ctlc/haproxy
ExecStartPost=/usr/bin/docker ps -a -q | xargs docker rm
ExecStop=/usr/bin/docker kill lb_1
ExecStopPost=/usr/bin/docker ps -a -q | xargs docker rm

[Install]
WantedBy=local.target
