[Unit]
Description=Announce serf_1
BindsTo=serf.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/serf/serf_1 '{ \"host\": \"%H\", \"port\": 7373, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/serf/serf_1

[X-Fleet]
X-ConditionMachineOf=serf.1.service
