[Unit]
Description=Announce web_1
BindsTo=web.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/web/web_1 '{ \"host\": \"%H\", \"port\": 80, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/web/web_1

[X-Fleet]
X-ConditionMachineOf=web.1.service
